body {
  padding: 0;
  margin: 0;
  background: #000; /* Set the page background to black */
  overflow: hidden; /* Hide scrollbars */
}

/* Make the container and the canvas fill the entire screen */
#unity-container.unity-desktop, #unity-canvas {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

/* Hide the default Unity UI elements */
#unity-loading-bar, #unity-footer, #unity-warning {
  display: none !important;
}